{% load wagtailcore_tags %}
{% load static %}
<nav class="navbar navbar-expand-lg navbar-light fixed-top" aria-label="Main Navigation">
    <div class="container">
        {% wagtail_site as site %}
        <a class="navbar-brand d-flex align-items-center" href="{% pageurl site.root_page %}">
            <img src="{% static 'images/logo.png' %}" alt="HSMWI Logo" class="me-2 navbar-logo" style="max-height: 30px; width: auto;">
            <span>HSMWI</span> Foundation
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle Navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item fade-in"><a class="nav-link {% if request.path == '/' %}active{% endif %}" href="/">Home</a></li>
                <li class="nav-item fade-in"><a class="nav-link" href="/about/">About Us</a></li>
                <li class="nav-item fade-in"><a class="nav-link" href="/programs/">Programs</a></li>
                <li class="nav-item fade-in"><a class="nav-link" href="/resources/">Resources</a></li>
                <li class="nav-item fade-in"><a class="nav-link" href="/stories/">Stories</a></li>
                <li class="nav-item fade-in"><a class="nav-link" href="/contact/">Contact</a></li>
            </ul>
        </div>

        <div class="d-none d-lg-block ms-auto">
            <a href="/get/support/" class="btn btn-support">Get Support</a>
        </div>
    </div>
</nav>